{% extends "web/partials/base.html" %}
{% load socialaccount %}
{% load static %}
{% block content %}
      <main>

         <!-- breadcrumb area start -->
         <section class="breadcrumb__area include-bg text-center pt-95 pb-50">
            <div class="container">
               <div class="row">
                  <div class="col-xxl-12">
                     <div class="breadcrumb__content p-relative z-index-1">
                        <h3 class="breadcrumb__title">My account</h3>
                        <div class="breadcrumb__list">
                           <span><a href="#">Home</a></span>
                           <span>My account</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- breadcrumb area end -->

         <!-- login area start -->
         <section class="tp-login-area pb-140 p-relative z-index-1 fix">
            <div class="tp-login-shape">
               <img class="tp-login-shape-1" src="{% static 'web/img/login/login-shape-1.png' %}" alt="">
               <img class="tp-login-shape-2" src="{% static 'web/img/login/login-shape-2.png' %}" alt="">
               <img class="tp-login-shape-3" src="{% static 'web/img/login/login-shape-3.png' %}" alt="">
               <img class="tp-login-shape-4" src="{% static 'web/img/login/login-shape-4.png' %}" alt="">
            </div>
            <div class="container">
               <div class="row justify-content-center">
                  <div class="col-xl-6 col-lg-8">
                     <form method="POST" action="">
                        {% csrf_token %}
                        <div class="tp-login-wrapper">
                           <div class="tp-login-top text-center mb-30">
                              <h3 class="tp-login-title">Login to Shofy.</h3>
                              <p>Don’t have an account? <span><a href="register.html">Create a free account</a></span></p>
                           </div>
                           <div class="tp-login-option">
                              <div class="tp-login-social mb-10 d-flex flex-wrap align-items-center justify-content-center">
                                 <div class="tp-login-option-item has-google">
                                    <a href="{% provider_login_url "google" %}">
                                       <img src="{% static 'web/img/icon/login/google.svg' %}" alt="">
                                       Sign in with google
                                    </a>
                                 </div>
                                 <div class="tp-login-option-item">
                                    <a href="#">
                                       <img src="{% static 'web/img/icon/login/facebook.svg' %}" alt="">
                                    </a>
                                 </div>
                                 <div class="tp-login-option-item">
                                    <a href="">
                                       <img class="apple" src="{% static 'web/img/icon/login/apple.svg' %}" alt="">
                                    </a>
                                 </div>
                              </div>
                              <div class="tp-login-mail text-center mb-40">
                                 <p>or Sign in with <a href="#">Email</a></p>
                              </div>
                              <div class="tp-login-input-wrapper">
                                 <div class="tp-login-input-box">
                                    <div class="tp-login-input">
                                       <input id="email" type="text" name="user_name" placeholder="user name">
                                    </div>
                                    <div class="tp-login-input-title">
                                       <label for="email">User Name</label>
                                    </div>
                                 </div>
                                 <div class="tp-login-input-box">
                                    <div class="tp-login-input">
                                       <input id="tp_password" type="password" name="password" placeholder="Min. 6 character">
                                    </div>
                                    <div class="tp-login-input-eye" id="password-show-toggle">
                                       <!-- ... (unchanged) ... -->
                                    </div>
                                    <div class="tp-login-input-title">
                                       <label for="tp_password">Password</label>
                                    </div>
                                 </div>
                              </div>
                              <div class="tp-login-suggetions d-sm-flex align-items-center justify-content-between mb-20">
                                 <div class="tp-login-remeber">
                                    <input id="remember" type="checkbox" name="remember">
                                    <label for="remember">Remember me</label>
                                 </div>
                                 <div class="tp-login-forgot">
                                    <a href="forgot.html">Forgot Password?</a>
                                 </div>
                              </div>
                              <div class="tp-login-bottom">
                                 <button type="submit" class="tp-login-btn w-100">Login</button>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            
         </section>
         <!-- login area end -->

      </main>
      
{% endblock %}